html {
	background: radial-gradient(ellipse at left, white, transparent),
		radial-gradient(ellipse at right, #4d9f0c, transparent);
	height: 100%;
}
body {
  margin-bottom: 4rem;
}
ul > li > a {
  text-decoration: none !important;
  cursor: pointer !important;
}
